
*{margin:0; padding: 0;}

#home{background: #ebe3d4;
background-image: url("../img/back.jpg");
    
    


}

.head
{	width:76%;
	height: auto;
	margin: 0 auto;
 	color:#fff;
    overflow: hidden;
}

    
    #logo{

        float:left;
        margin-right:15px; 

        }

        #info-wrap{

        margin-top: 30px;
        float: right;
        text-align: right;
        }
        #info-wrap ul li{

            list-style: none;
            color:#f5821c;
            font-weight: bold;
            font-size: 18px;
            text-shadow:0px 1px 0px #000;

        }

    #titulo{
        color:#ab9c7d;
    	font-size: 39px;
    	margin-top:35px;
    	text-shadow:0px 2px 0px black;
    		
    		}


    #titulo-wrap{
        width: 68%;
        margin:10px;
        margin-left: 7%;
        overflow: hidden;
    
    }

#ani{

-moz-animation-name:animacion;
-moz-animation-duration:0.5s;
-moz-animation-iteration-count:infinite;
-moz-animation-timing-function:linear;
-moz-animation-direction:alternate;
-moz-animation-delay:0s;
-moz-animation-fill-mode:forwards;


-webkit-animation-name:animacion;
-webkit-animation-duration:0.5s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-timing-function:ease-out;
-webkit-animation-direction:alternate;
-webkit-animation-delay:0s;
-webkit-animation-fill-mode:forwards;
}

@-moz-keyframes animacion{0%{opacity:.3;}100%{opacity:1; color:#fff;}}

@-webkit-keyframes animacion{0%{opacity:.3; color:black;}100%{opacity:1;color:#fff;}}

@-o-keyframes animacion{0%{opacity:.3; color:black;}100%{opacity:1;color:#fff;}}

@-ms-keyframes animacion{0%{opacity:.3; color:black;}100%{opacity:1;color:#fff;}}


.navegacion
{
	width:77%;
	height: auto;
	margin: 0 auto;
    border-radius: 3px;
	background:rgba(203, 211, 217, 0.5);
    text-align: center;
}




      
      .item-menu a {
            font-weight: bold;
            text-decoration: none;
            color: rgb(82, 48, 16);
            display: block;
            padding:10px 10px 2px 10px;
        }

        .item-menu{
            display: inline-block;
            margin:3px 10px;
            font-size: 21px;
            border-bottom: 6px solid transparent;
            -webkit-transition:all ease .5s;
        }


        .item-menu:hover{
           
           border-bottom: 6px solid rgb(56, 29, 3);

        }

        .item-menu a:hover {
            
            color:rgb(56, 29, 3);
        }

        
        .navegacion ul {

            font-size: 0;
        }


.contenido
{
    width:76%;
    height: auto;
    margin:0 auto;
    border-radius: 10px 10px 0px 0px;
    background-image: url("../img/poro.png");
    position: relative;
    overflow: hidden;
}

#welcome{

    border-radius: 10px;
    box-shadow: 4px 4px 10px gray, -4px -4px 10px gray;
    width: 90%;
    height: auto;
    margin:0 auto;

}

#welcome div p{

    padding: 10px 20px;
    margin:0 10px;

}

#welcome div{

    border-left: 30px solid rgb(73, 16, 16);
    border-right: 30px solid rgb(73, 16, 16);
    border-radius: 10px;
    overflow: hidden;

    font-size: 18px;
   
}

#welcome div h2{

    text-align: left;
    color: rgb(73, 16, 16);
    font-size: 26px;
}
#welcome-img{

    float:left;
    margin: 0 15px;
}


#some-services{

    border-bottom: 5px solid rgb(73, 16, 16);
    width: 90%;
    margin: 30px auto 20px auto;

}


.guarrantee{

    border-radius: 10px;
    box-shadow: 4px 4px 10px gray, -4px -4px 10px gray;
    width: 90%;
    height: auto;
    margin:0 auto;
}
.gua-p{


    border-left: 30px solid rgb(73, 16, 16);
    border-right: 30px solid rgb(73, 16, 16);
    border-radius: 10px;
    font-size: 18px;
}

.titulos-index{

    color: rgb(73, 16, 16);
    font-size: 24px;
}

#reviews{

    width: 80%;
    margin: 0 auto;
    background: rgb(73, 16, 16);
    height: auto;
    border-radius:50px;


}


.sando-reviews{

    color:white;
    text-align: center;
    font-size: 30px;
}

.post{
    
    background: white;
    width:80%;
    margin:20px auto;
    border-radius: 5px;
    overflow: hidden;
        box-shadow: 4px 4px 10px gray;


}


.post p{

    

}
#posted-by{

    text-align: right;
    margin-right: 10px;
    margin-bottom: 10px;
    color:blue;
    font-family: arial;
    font-weight: bold;
}

.post img{

    float: left;

}

.post .people-said{

    padding:10px 10px 5px 20px;
   
   font-size: 17px;
}



.index{

    text-align: center;
}
.servicios{

    width: 90%;
    box-shadow: 4px 4px 10px gray;
    margin: 0 auto;
    border-radius: 5px;



}

.servicios ul{
    margin: 10px;
}
.ser-item{

   
    list-style-image: url(../img/check.png);
    list-style-position: inside;
    text-align: left;

}
.ser-item a {
    position: relative;
    top: -8px;
    left: -3px;
    font-size: 19px;
    text-decoration: none;
    color: #3e3621;


}
.ser-item a:hover{

    text-decoration: underline;
}
.ser{

    width:270px;
    display: inline-block;
    margin:10px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px gray;

    
}

.ser h2{
    border-bottom: 2px solid rgb(73, 16, 16);
    text-align: left;
}

.ser p{
padding:15px;
text-align: justify;
}




.footer
{
    width:76%;
    height: auto;
    margin: 15px auto;
    background:rgba(203, 211, 217, 0.5);
    padding: 30px 0;
    font-size: 24px;
    text-align: center;
    


}

/*Estilo services*/

.services-box{

    width: 280px;
    margin-top: 15px;
    float: right;
    border-radius: 3px;


}

.img-wrap{

    width: 90%;
    margin: 0 auto;
  
}
.img-wrap .img-style1{
  
    width: 100%;

   
}

.imagenes-spot .img-wrap figcaption{
    top:20px;
    width: 30%;
    color:#eee;
    background:rgba(0, 0, 0, 0.40);
    padding:5px 0 5px 15px;
    border-radius: 2px 2px 0px 0px;
    position: absolute;
    font-size: 20px;
    font-family: arial;

  } 


.our-services{

width:80%;
height: auto;
margin: 0 auto;
background: rgb(73, 16, 16);
 border-radius: 4px;
}

.our-services h3{

    text-align: center;
    color:white;
    font-size: 23px;
    font-weight:600;
}
.services-item2{
    border-left:3px solid rgb(73, 16, 16);
    border-right:3px solid rgb(73, 16, 16);
    width: 250px;
    margin: 1px auto;
    background: #ab9c7d;
    text-align: left;
   list-style-position: inside;
    border-radius: 2px;
    -webkit-transition:background .5s linear;
    -moz-transition:background .5s linear;

}

.services-item2 a{

    padding-left: 15px;
    display: block;
    font-size: 18px;
    text-decoration: none;
    color: rgb(56, 29, 3);
    font-weight: bold;
}

.services-item2:hover{

    background:  rgb(56, 29, 3);
    padding:0 2px;
    color:white;
  
}
.services-item2 a:hover{
color:white;
}


.servicesss{

    width:100%;
    
    margin-right: 2%;

}

.service{

    padding: 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgb(105, 60, 16), -4px 4px 10px rgb(105, 60, 16);
    width: 60%;

    overflow: hidden;
    margin:10px 0;
}
.service h3{

    border-bottom: 5px ridge rgb(73, 16, 16);
    font-size: 21px;
    margin-bottom: 10px;
    color:#3e3621;
}

.service h3:before{

  content:"- ";
}

.service h3:after{

  content:" -";
}

.service p img{

    float: left;
    margin:0 5px;
}

.service p{

    font-size: 18px;
}





#ani2{

-moz-animation-name:animacion;
-moz-animation-duration:0.5s;
-moz-animation-iteration-count:infinite;
-moz-animation-timing-function:linear;
-moz-animation-direction:alternate;
-moz-animation-delay:0s;
-moz-animation-fill-mode:forwards;


-webkit-animation-name:animacion;
-webkit-animation-duration:0.5s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-timing-function:ease-out;
-webkit-animation-direction:alternate;
-webkit-animation-delay:0s;
-webkit-animation-fill-mode:forwards;
}

@-moz-keyframes animacion{0%{opacity:.3; color:red;}100%{opacity:1; color:#fff;}}

@-webkit-keyframes animacion{0%{opacity:.3; color:red;}100%{opacity:1;color:#fff;}}

@-o-keyframes animacion{0%{opacity:.3; color:red;}100%{opacity:1;color:#fff;}}

@-ms-keyframes animacion{0%{opacity:.3; color:red;}100%{opacity:1;color:#fff;}}


.call-plis p{

  font-size: 19px;
  color:white;


}



/*about us*/

.about{
  width: 90%;
  margin: 0 auto;
  overflow: hidden;

}

.about img{

  margin:20px;
  width: 45%;

  float: left;
}

.about p{

  margin-top: 20px;
}


.reasons{

  width: 90%;
  margin: 0 auto;

}

.cajaExtra{

  margin: 15px auto;
}

.title{

  font-size: 19px;
  color: rgb(73, 16, 16);
}

.reasons ul li{

  list-style-type: circle;
  font-size: 17px;
  color: #f5821c;
}

.reasons ul{

  margin-left: 25px;
}

















/*estilo Gallery*/

.border-bottom{

    border-bottom: 7px solid rgb(73, 16, 16);
    text-align: center;
    overflow: hidden;


}

.gallery-description{

    padding: 15px;
    font-family:  'open sans', sans-serif;
}

.gallery-description h3{

    text-align: center;
}

.gallery-description p {

    text-align: justify;
    
    

}

.border-sides{
    box-shadow: 4px 4px 10px rgb(105, 60, 16);
    border-left: 30px solid rgb(73, 16, 16);
    border-right: 30px solid rgb(73, 16, 16);
    border-radius: 10px;
    width: 80%;
    margin: 20px auto;

}

.imagengaleria{

margin:10px;
   

}




/* line 6, ../sass/lightbox.sass */
#lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  opacity: 0.85;
  display: none;
}

/* line 15, ../sass/lightbox.sass */
#lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  font-weight: normal;
}
/* line 24, ../sass/lightbox.sass */
#lightbox img {
  width: auto;
  height: auto;
}
/* line 27, ../sass/lightbox.sass */
#lightbox a img {
  border: none;
}

/* line 30, ../sass/lightbox.sass */
.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 39, ../sass/lightbox.sass */
.lb-container {
  padding: 10px;
}

/* line 42, ../sass/lightbox.sass */
.lb-loader {
  position: absolute;
  top: 40%;
  left: 0%;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

/* line 51, ../sass/lightbox.sass */
.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

/* line 59, ../sass/lightbox.sass */
.lb-container > .nav {
  left: 0;
}

/* line 62, ../sass/lightbox.sass */
.lb-nav a {
  outline: none;
}

/* line 65, ../sass/lightbox.sass */
.lb-prev, .lb-next {
  width: 49%;
  height: 100%;
  background-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
  /* Trick IE into showing hover */
  display: block;
}

/* line 72, ../sass/lightbox.sass */
.lb-prev {
  left: 0;
  float: left;
}

/* line 76, ../sass/lightbox.sass */
.lb-next {
  right: 0;
  float: right;
}

/* line 81, ../sass/lightbox.sass */
.lb-prev:hover {
  background: url(../img/prev.png) left 48% no-repeat;
}

/* line 85, ../sass/lightbox.sass */
.lb-next:hover {
  background: url(../img/next.png) right 48% no-repeat;
}

/* line 88, ../sass/lightbox.sass */
.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -ms-border-bottom-left-radius: 4px;
  -o-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -ms-border-bottom-right-radius: 4px;
  -o-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 95, ../sass/lightbox.sass */
.lb-data {
  padding: 0 10px;
  color: #bbbbbb;
}
/* line 98, ../sass/lightbox.sass */
.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}
/* line 103, ../sass/lightbox.sass */
.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}
/* line 107, ../sass/lightbox.sass */
.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 11px;
}
/* line 112, ../sass/lightbox.sass */
.lb-data .lb-close {
  width: 35px;
  float: right;
  padding-bottom: 0.7em;
  outline: none;
}
/* line 117, ../sass/lightbox.sass */
.lb-data .lb-close:hover {
  cursor: pointer;
}









/*Estilo Contacto*/

.contactame{
    width:76%;
    margin: 0 auto;
    position: relative;
}





#formulario{
    display: none;
    width: 100%;
    height: 120px;

    
}
.caja{

    width:200px;
    height: 23px;
    box-shadow: 4px 4px 10px rgb(105, 60, 16);
    border-radius:5px;
    padding-left: 10px;
    font-size: 16px;
        
}



.ld{

    width:428px;
    height:70px;
    display: block;
    box-shadow: 4px 4px 10px rgb(105, 60, 16);
    border-radius:5px;
    margin-top: 10px;
    font-size: 16px;
   
 
}
.enviar{font-size: 18px; border-radius: 3px; float: left; margin: 10px;}


.te{

  width: 40%;
  position: absolute;
  top:0;
  right: 0;
  color:white;
}
.impo{

  font-size: 19px;
  padding:10px 20px;
  color:rgb(73, 16, 16);
  font-weight: 600;
  
}

#con{
        width: 68%;
        margin:0 auto;
        margin-top: 15px;
        border-radius: 10px;
        
        box-shadow: 4px 4px 10px gray;
        padding: 30px;
    }

.i{
    color:#444; 
    font-weight: bold; 
    font-size:20px; 
    margin-bottom: 30px;
    list-style:square;
}


.i a {
    color:rgb(105, 60, 16);
    text-decoration: none; 
    cursor:default;
 
}




















































/*estilos Slider*/

#wrapper{
  height: auto;
    width: 76%;
    margin: 0 auto;

   

 
    }

#slider1{ border:6px solid #fff;
        border-right: 5px solid #fff;
        border-radius:5px;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }



.rslides figcaption{
    bottom:0;
    width: 100%;
    
    text-align: center;
    color:#eee;
    background:rgba(0, 0, 0, 0.49);
    padding: 5px 0;
    border-radius: 2px 2px 0px 0px;
    position: absolute;
    font-size: 20px;
    font-family: arial;

  } 























/*Responsive index*/

@media screen and (max-width: 1180px){

 

  

}


@media screen and (max-width: 980px){

    .head, .navegacion, .contenido, .footer{

        width:84%;
    }

    #wrapper{

        width: 81%;
    
    }
    #titulo-wrap{

        margin-left: 3%;
    }



}



@media screen and (max-width: 935px){

    #titulo-wrap{

        width: auto;
    
    }

    #titulo{

        margin-top: 25px;
    }


}


@media screen and (max-width:910px){
     
    #forma{margin-left:15px; }
   


   .services-item2{
    display: inline-block;
     margin:5px;
   }

   .service{

      width: 85%;
      margin:20px auto;

   }
   .services-box{
    width: 98%;
    text-align: center;}
  }

  .servicesss h2{

    text-align: center;

  }

@media screen and (max-width:800px){
     


     #forma{margin-left:5px; }

    .services-item2{
    width:40%;

   }


   .services-item2 a{
    padding-left: 5px;
    
   }


}


@media screen and (max-width: 830px){

    #titulo-wrap{
       
        margin-left: 0;

    }

    .head, .navegacion, .contenido, .footer{

        width:90%;
    }


    .item-menu{

        border-color:rgb(56, 29, 3);
    }

    .item-menu a{

        color:rgb(56, 29, 3);
    }

    

}


@media screen and (max-width:765px){

   .fila1{
            width:100%;
            text-align: left;
           
        }

    #forma{

        text-align: center;
        margin:0 auto;
        margin-top: 15px;
        padding: 20px 0;
         border-radius: 10px;
        
        box-shadow: 4px 4px 10px gray;

    }

  


    .cajaGrande{width:320px;}
    .caja{width:320px;}
   
    .img-wrap{

      width: 100%;

    }

}


@media screen and (max-width: 660px){


     #titulo-wrap{
           
            width:100%;


        }

    #titulo{
        margin-top: 7px;
        font-size:34px;
    }

    .head{position: relative;}

    #reviews{

      width: 96%;
      padding-top: 20px;
      border-radius: 20px;
    }

    .post{

      width: 90%;
    }

    #info-wrap{

        float: none;
        position: absolute;
        right: 10px;
        bottom: 10px;

    }

     #info-wrap ul li{

            font-size: 16px;

        }

        #logo{

            margin-right: 5px;
        }



    #titulo-wrap #logo img{

        width: 100px;
        height: 130px;
    }

    .head{width: 94%;}



}

@media screen and (max-width: 465px){


    #titulo-wrap{

        text-align: center;
    }

    .services-item2{

      width: 65%;
    }

    #wrapper{

         padding-right:15px;
    }
    #logo{

        float:none;
        margin: 0;
        padding: 0;

    }

    #info-wrap{

       display: none;

    }

    .img-wrap img{

      height: 100px;
      
    }

}


@media screen and (max-width:450px){

        .cajaGrande{width:260px;}
        .caja{width:260px;}

}




@media screen and (max-width:400px){


    .services-item2{

          width: 80%;
        }

    .service{

      width:90%;
    }


}















